<div class="about s1" id="about">
    <div class="wrap">
        <div class="col1_1_of_3 span_1_of_3">
            <h3></h3>
            <h3>@Resources.Home.About.Top_Box1_Title</h3>
            <p>@Resources.Home.About.Top_Box1_Content</p>
        </div>
        <div class="col1_1_of_3 span_1_of_3">
            <h3>@Resources.Home.About.Top_Box2_Title</h3>
            <p>@Resources.Home.About.Top_Box2_Content</p>
        </div>
        <div class="col1_1_of_3 span_1_of_3">
            <h3>@Resources.Home.About.Top_Box3_Title</h3>
            <p>@Resources.Home.About.Top_Box3_Content</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container">
        <div class="img">
            <img src="~/Assets/Images/about.jpg"/>
        </div>
        <div class="text">
            <h3>@Resources.Home.About.Box_Head</h3>
            <p>@Resources.Home.About.Box_Head_content</p>
            <div class="service-grids">
                <div class="left">
                    <div class="about-grid">
                        <div class="about-grid1">
                            <img src="~/Assets/Images/web.png" alt="">
                        </div>
                        <div class="about-grid2">
                            <h4>@Html.ActionLink(@Resources.Home.About.box_left1_title, "AboutMe", "Details")</h4>
                            <p>@Resources.Home.About.box_left1_content</p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="about-grid">
                        <div class="about-grid1">
                            <img src="~/Assets/Images/contact.png" alt="">
                        </div>
                        <div class="about-grid2">
                            <h4>@Html.ActionLink(@Resources.Home.About.box_left2_title, "AboutMe", "Details")</h4>
                            <p>@Resources.Home.About.box_left2_content</p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="right">
                    <div class="about-grid">
                        <div class="about-grid1">
                            <img src="~/Assets/Images/text.png" alt="">
                        </div>
                        <div class="about-grid2">
                            <h4>@Html.ActionLink(@Resources.Home.About.box_right1_title, "AboutMe", "Details")</h4>
                            <p>@Resources.Home.About.box_right1_content</p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="about-grid">
                        <div class="about-grid1">
                            <img src="~/Assets/Images/seo.png" alt="">
                        </div>
                        <div class="about-grid2">
                            <h4>@Html.ActionLink(@Resources.Home.About.box_right2_title, "AboutMe", "Details")</h4>
                            <p>@Resources.Home.About.box_right2_content</p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
