<!-- testimonial -->
<div class="testimonials s6" id="testimonials">
    <div class="wmuSlider example1">
        <!-- start wmuSlider example1 -->
        <div class="wmuSliderWrapper">
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="slider_text">
                    <h2>@Resources.Home.Testimonials.t1Content</h2>
                    <div class="wmu_btn">
                        <a href="#">@Resources.Home.Testimonials.t1Name</a>
                    </div>
                </div>
            </article>
            <article style="position: relative; width: 100%; opacity: 1;">
                <div class="slider_text">
                    <h2>@Resources.Home.Testimonials.t2Content</h2>
                    <div class="wmu_btn">
                        <a href="#">@Resources.Home.Testimonials.t2Name</a>
                    </div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="slider_text">
                    <h2>@Resources.Home.Testimonials.t3Content</h2>
                    <div class="wmu_btn">
                        <a href="#">@Resources.Home.Testimonials.t3Name</a>
                    </div>
                </div>
            </article>
        </div>

        <script>
				 $('.example1').wmuSlider();
        </script>
    </div><!-- end wmuSlider example1 -->
</div>

